<% if (theme.cnzz_analytics.enable) { %>
	<div style="display: none">
		<script>			
			var cnzz_s_tag =document.createElement('script');						
			cnzz_s_tag.type ='text/javascript';						
			cnzz_s_tag.async =true;						
			cnzz_s_tag.charset= 'utf-8';						
			cnzz_s_tag.src ='//s6.cnzz.com/stat.php?id=<%- theme.cnzz_analytics.id %>&web_id=<%- theme.cnzz_analytics.id %>';						
			var root_s =document.getElementsByTagName('script')[0];						
			root_s.parentNode.insertBefore(cnzz_s_tag,root_s);
		</script>
		<!-- <script sync src="//s6.cnzz.com/stat.php?id=<%- theme.cnzz_analytics.id %>&web_id=<%- theme.cnzz_analytics.id %>" type="text/javascript"></script> -->
	</div>
<% } %>